body{
    background: url(../img/concrete_seamless.png);
    font: 1em "PT Sans", Tahoma, Arial;
    text-transform: uppercase;
}


/* Кратинки*/


#container{
    float: right;
    height: 800px;
    width: 700px;
    margin: 30px;
    margin-left: -100px;
    border-radius: 5px;

}

#container .picture{
    width: 400px;
    height: 230px;
    margin: 24px auto;
    background: url(http://lorempixel.com/400/230);
    border-radius: 5px;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#container .picture:hover{
    z-index: 1;
}

#container .picture::after{
    content:"";
    height: 230px;
    width: 400px;
    display: block;
    position: absolute;
    top:0;
    left:0;
    transition: opacity .3s, transform 1s;
}



#container .picture.one::after{
    background: radial-gradient(transparent, rgba(0,0,0,0.6));
}

#container .picture.two::after{
    background: linear-gradient(transparent, black);
    opacity: .6
}

#container .picture.one{
    transform: rotate(60deg);
}

#container .picture.two{
    transform: rotate(10deg);
}
#container .picture.three{
    transform: rotate(-30deg);
}

#container .picture.three::after{
    background: linear-gradient(-45deg, #000, transparent);
    opacity: .6;
}

#container .picture:hover::after{
    opacity: 0;

}

/*Меню*/


#nav{
    list-style: none;
    padding: 0;
    margin: 30px;
    width: 400px;
    float: left;
}

#nav li{
    height: 57px;
    width: 59px;
    overflow: hidden;
    opacity: .5;

    transition: opacity .3s;
    transition: width .2s ease-in-out, height .3s ease-in-out .2s;

    -moz-transition: opacity .3s;
    -moz-transition: width .2s ease-in-out, height .3s ease-in-out .2s;

    -webkit-transition: opacity .3s;
    -webkit-transition: width .2s ease-in-out, height .3s ease-in-out .2s;

}

#nav li:hover{
    width: 200px;
    height: 196px;
    opacity: 1;
}

#nav li a{
    display: block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background: #666;
    margin: 1px;
    color: #fff;
    padding-left: 20px;
    cursor: pointer;

    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
}

#nav li a:hover{
    background:linear-gradient(90deg, #06F5F8 20%, rgba(0,0,0,.3) 80%);    
}

#nav li a:first-child{
    font-size: 1.1em;
    height: 55px;
    line-height: 55px;
    position: relative;
    text-indent: 40px;
}

#nav li a:first-child::before{
    position: absolute;
    display: block;
    content:"";
    height: 32px;
    width: 32px;
    top: 11px;
    left: 13px;
}

.main-menu a:first-child::before{
    background: url(../img/mainmenu.png) center no-repeat;
}

.tools a:first-child::before{
    background: url(../img/settings.png) center no-repeat;
}

.links a:first-child::before{
    background: url(../img/place.png) center no-repeat;
}

.profile a:first-child::before{
    background: url(../img/profile.png) center no-repeat;
}

/*Кнопки (добавил с другого файла)*/

#content{
    width: 600px;
    height: 300px;
    position: absolute;
    left:0;
    bottom: 0;
    margin:auto;

    padding: 40px;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

#floater{
    float: left;
    height: 50%;
    width:100%;
    margin-bottom: -100px;
}

.container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../img/new_year_background.png);

    box-shadow: 0 4px 10px rgba(0, 0, 0, .6), 
    inset -1px 3px 0 rgba(255, 255, 255, .7), 
    1px -2px 1px rgba(0, 0, 0, .3),
    inset 0 0 20px rgba(0, 0, 0, .2);

    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .6), 
    inset -1px 3px 0 rgba(255, 255, 255, .7), 
    1px -2px 1px rgba(0, 0, 0, .3),
    inset 0 0 20px rgba(0, 0, 0, .2);


    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .6), 
    inset -1px 3px 0 rgba(255, 255, 255, .7), 
    1px -2px 1px rgba(0, 0, 0, .3),
    inset 0 0 20px rgba(0, 0, 0, .2);

    margin: 20px;
    display:inline-block;
    cursor: pointer;
    clear: both;
}


.container:active{

    box-shadow: inset 0 0 20px rgba(0, 0, 0, .3), 
     -1px 3px 0 rgba(255, 255, 255, .3), 
    inset 1px -2px 1px rgba(0, 0, 0, .3),
    inset 0 0 20px rgba(0,0,0,.1);;

    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .3), 
     -1px 3px 0 rgba(255, 255, 255, .7), 
    inset 1px -2px 1px rgba(0, 0, 0, .3)
    inset 0 0 20px rgba(0,0,0,.1);


    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, .3), 
     -1px 3px 0 rgba(255, 255, 255, .7), 
    inset 1px -2px 1px rgba(0, 0, 0, .3)
    inset 0 0 20px rgba(0,0,0,.1);

    background: url(../img/concrete_seamless.png);

}

.container::after{
    content: "";
    width: 150px;
    height: 150px;
    display: block;
    opacity: .65;
}



.btn-photo::after{
    background: url(../img/photo.png) center no-repeat;
}

.btn-tools::after{
    background: url(../img/tools.png) center no-repeat;
}

.btn-heart::after{
    background: url(../img/heart.png) center no-repeat;
}

.container:active::after{
    background-position: center 52%
}

/* Cube */

#wrapper{
    perspective: 900px;
    position: absolute;
    float:left;
    top:100px;
    left:300px;
}

#cube{
    width: 300px;
    height: 300px;
    position: relative;
    transform-origin: 50% 50% -150px;
    transform-style: preserve-3d;
    transform:rotate3d(1,1,1,50deg);
}

.side{
    background: rgba(0, 0, 0, .2);
    background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
    width: 300px;
    height: 300px;
    position: absolute;
    border: 4px solid white;
    border-radius: 10px;
    font-size: 5em;
    color: #fff;
    line-height: 300px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 0 6px rgba(0,0,0,.5);

    transform-origin: 50% 50% -150px;
}

#side2{
    transform: rotateY(90deg);
}

#side3{
    transform: rotateY(-90deg);
}
#side4{
    transform: rotateX(90deg);
}
#side5{
    transform: rotateX(-90deg);
}
#side6{
    transform: rotateY(180deg);
}
